{% extends 'base.html' %}
<title>Task Master </title>
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Task</h1>

    <div class="form">

    <form action="/update/{{task.id}}" method="POST">
        <!-- <input type="text" name="content" id="content" value="{{task.content}}">   -->
        <input type="text" name="content"  id="content" value="{{task.content}}">
        <input type="text" name="last_name"  id="content" value="{{task.last_name}}"> 
        <input type="tel"  name="phonenum" id="phonenum" value="{{task.phonenum}}"> 
        <input type="submit" value="Update">
    </form>
</div>
</div>
{% endblock %}